<div class="container">
    <h1>Hello from Angular</h1>
<hr>

<app-first/>

<app-timer/>
<hr>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem sit iure impedit voluptas numquam vero doloremque consequuntur voluptatibus praesentium sed! In laborum nostrum incidunt temporibus cupiditate odio hic numquam ad?</p>
{{ title==='cw1' ? "dobry tytuł":"to nie to"}}
@if (isShow) {<h5>Ala ma kota</h5>} 
@else {<h5>Ale kot tego nie lubi</h5>}

<hr>
<app-swieta/>
<app-products />
</div>
